/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


/* Custom font */

@font-face {
  font-family: 'Whyte';
  src: local('Whyte Regular'), local('Whyte-Regular'),
      url('../fonts//Whyte-Regular.woff2') format('woff2'),
      url('../fonts//Whyte-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whyte';
  src: local('Whyte Italic'), local('Whyte-Italic'),
      url('../fonts/Whyte-Italic.woff2') format('woff2'),
      url('../fonts/Whyte-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Whyte';
  src: local('Whyte Bold'), local('Whyte-Bold'),
      url('../fonts/Whyte-Bold.woff2') format('woff2'),
      url('../fonts/Whyte-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Whyte';
  src: local('Whyte Bold Italic'), local('Whyte-BoldItalic'),
      url('../fonts/Whyte-BoldItalic.woff2') format('woff2'),
      url('../fonts/Whyte-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Whyte' , sans-serif;
  letter-spacing: 0.01em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}